body {
  margin: 0;
  color: $color-dark;
  background: $color-light-bg;
  background: -webkit-linear-gradient(to right, $color-light-bg,$color-light);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $color-light-bg, $color-light); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: $font-serif, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#landing {
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  
  h1 {
    color: $color-dark;
    font-family: $font-cursive;
    font-size: calc(150px + 2vmin);
    text-align: center;
    text-shadow: 3px 2px rgba(0,0,0,0.15);
  }
  span {
    margin: 40px;
  }
  a {
    background: $color-med;
    margin-bottom: 20px;
    width: 20vw;
    display: block;
    color: $color-light;
    box-shadow: 0 7px 16px 0 rgba(0,0,0,0.24), 0 7px 80px 0 rgba(0,0,0,0.19);
  }
  a:hover {
    background: $color-accent;
  }
}
a {
  border-radius: 6px;
  font-family: $font-sans-serif;
  font-weight: 900;
  margin: 10px 20px;
  text-decoration: none;
  padding: 5px 0px;
  text-align: center;
}