$font-cursive: 'Mrs Saint Delafield', cursive;
$font-sans-serif: 'Unica One', cursive;
$font-serif: 'PT Serif', serif;

$color-dark: rgba(47, 45, 44, 1);
$color-light: rgba(247, 245, 240, 1);
$color-med: rgba(158, 145, 134, 1);
$color-med2: rgba(199, 188, 177, 1);
$color-accent: rgba(179, 142, 135, 1);
$color-error: rgba(132, 67, 68, 1);