form {
  span.radio {
    font-size: calc(12px + 0.2vw);
    input {
      display: inline;
    }
  }
  .submit-btn {
    padding-top: 20px;
  }
  .left {
    display: flex;
    flex-direction: column;
  }
  
  .btn, a {
    background: $color-med;
    color: $color-dark;
    border-radius: 4px;
    width: 20vw;
    border-radius: 6px;
    font-family: $font-sans-serif;
    font-weight: 900;
    font-size: calc(16px + 0.2vw);
    margin: 10px 20px;
    padding: 5px 0px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 7px 16px 0 rgba(0,0,0,0.24), 0 7px 80px 0 rgba(0,0,0,0.19);
    display: inline-block;
  }
  .btn:enabled:hover, a:hover {
    background: $color-accent;
  }
  .btn:disabled {
    background-color: $color-light2;
    color: #ccc;
  }

}

button#next {
  background: $color-med;
  color: $color-dark;
  border-radius: 4px;
  width: 20vw;
  border-radius: 6px;
  font-family: $font-sans-serif;
  font-weight: 900;
  font-size: calc(16px + 0.2vw);
  margin: 10px 20px;
  padding: 5px 0px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 7px 16px 0 rgba(0,0,0,0.24), 0 7px 80px 0 rgba(0,0,0,0.19);
  display: inline-block;
}
#show-item-form {
  border: 0;
}
#reset.btn {
  margin: 0 20px;
}
#n_item {
  width: auto;
  height: 100%;
  margin: 0 5px;
  font-size: calc(12px + 0.2vw);
}
#back.btn, #next.btn {
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0 5px;
  font-size: calc(12px + 0.2vw);
}
#back.btn:disabled, #next.btn:disabled {
  width: auto;
  height: 100%;
  margin: 0 5px;
  padding: 0 5px;
  font-size: calc(12px + 0.2vw);
  background-color: $color-light2;
  color: #ccc;
}
