#landing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  span {
    margin: 4vw;
  }
  a {
    width: 20vw;
    display: block;
    margin: 20px 20px;
    padding: 5px 0px;
  }
  h1 {
    margin: 10vw 30vw;
  }
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

form {
  margin: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  input, select {
    padding: 5px 10px;
    margin: 5px 10px;
    font-size: $font-size-text;
    height: auto;
    max-width: 25vw;
    width: 100%;
  }
  select {
    text-transform: capitalize;
  }
  a, input[type="submit"] {
    max-width: 25vw;
    min-width: 20vw;
    width: 100%;
  }
  :disabled {
    background: $color-light2;
    color: #ccc
  }
  label {
    min-width: 30vw;
    max-width: 45vw;
    width: 100%;
    margin: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .subtext {
    font-size: $font-size-subtext;
    text-align: left;
  }
  .left {
    display: flex;
    flex-direction: column;
  }
  .color-picker {
    width: 10%;
    height: 30px;
  }

  label.radio {
    display: block;
  }
  input.radio {
    width: auto;
  }

}
h1 {
  padding-bottom: 10px;
  max-width: 40vw;
}
.container {
  padding: 20px;
  align-items: center;
}
div.main {
  display: flex;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  span.item-details {
    display: flex;
    flex-direction: row;
    position: relative;
    img {
      width: auto;
      max-height: 200px;
      min-height: 100px;
      // TODO - media queries for resizing?
    }
  }
}

#collection {
  #browse {
    align-self: flex-start;
    width: 100%;
  }
  #filter {
    display: flex;
    flex-direction: row;
  }
  
}

div#item-details.container {
  margin: 20px;
  padding: 20px;
  width: auto;
  flex-direction: column;
  form#show-item-form {
    width: auto;
    padding: 0;
    border: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  div.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  img {
    display: block;
    min-width: 15vw;
    max-width: 40vw;
    height: auto;
    margin-right: 20px;
  }
  div.right {
    min-width: 40%;
    max-width: 50%;
    width: auto;
  }
  a, button, a#purchase {
    width: 20vw;
    margin: 5px;
  }
  
  .btn-list {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  #close-x, #close-x:hover {
    display: float;
    float: right;
    width: 100%;
    text-align: right;
  }
}
#active-container {
  display: flex;
  height: 100%;
  align-items: stretch;

  #active-left {
    align-self: flex-start;
    height: 100%;
    flex-grow: 1;
    padding-right: 20px;
    max-width: 30vw;

    #weather {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 10px;
      width: 100%;
      h1 {
        margin: 0px;
      }
    }
    p {
      padding: 10px;
      margin: 0;
    }
    table {
      min-width: 20vw;
      width: 100%;
    }
    th, td {
      text-align: center;
    }

    #ootd-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 0 20px 0;
      padding: 0px;
      width: 100%;
      h1 {
        margin: 0px;
      }
    }
    #ootd-div {
      display: flex;
      padding: 5px;
      margin: 0;
    }
    img {
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }

  div#active-right.flex {
    height: 100%;
    width: 100%;
    max-width: 70vw;
    flex-direction: column;
    h1 {
      margin-bottom: 0;
    }
  }
  div#item-details.container {
    img {
      max-width: 50%;
    }
    label {
      display: flex;
    }
  }
}

#swatch-div {
  display: flex;
  margin: 10px;
  div.swatch {
    height: 20px;
    width: 5vw;
    margin: 2px;
  }
}

#capsule-body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  #upload-item {
    max-width: 30vw;
    min-width: 300px;
    margin: 10px;
  }
}

#filter {
  margin: 0px 0px;
  padding: 0px 0px 10px 0px;
  display: flex;
  border: 0px;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  max-width: 100%;
  justify-content: space-around;
  label#n_item {
    min-width: auto;
    max-width: auto;
    width: auto;
    display: inline;
    text-align: right;
    #sel_n {
      width: auto;
    }
  }
  .btn, a {
    border-radius: 6px;
    font-size: $font-size-text;
    padding: 5px 10px;
    margin: 0 5px;
  }
  
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn, a {
    padding-right: 10px;
    padding-left: 10px;
  }
  h3 {
    margin: 0 10px;
  }
}