
#nav-container {
  display: flex;
  flex-direction: column;
}
#navbar {
  display: flex;
  justify-content: space-between;
}
#capsule-list {
  flex-direction: column-reverse;
}
#account-menu {
}
div.main {
  display: flex;
}
.container {
  padding: 20px;
  align-content: center;
}
.grid {
  background: pink;
  display: flex;
  flex-wrap: wrap;
}
span.item-details {
  display: flex;
  flex-direction: row;
  position: relative;
  img {
    // height: auto;
    max-width: calc(18vw);
  }
}
span.slider {
  // display: inline-block;
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 100%;
  z-index: 2;
  background: $color-accent;
  padding: 10px 10px -10px 10px;
}
span.item-details:hover {
  span.slider {
    display: inline-block;
  }
}