
#nav-container {
  display: flex;
  flex-direction: column;
}
#navbar {
  display: flex;
  justify-content: space-between;
}
#capsule-list {
  flex-direction: column-reverse;
}
#account-menu {
}
div.main {
  display: flex;
}
.container {
  padding: 20px;
  align-items: center;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
span.item-details {
  display: flex;
  flex-direction: row;
  position: relative;
  img {
    // height: auto;
    max-width: 19vw;
  }
}
span.slider {
  // display: inline-block;
  // display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 0px;
  z-index: 2;
  background: $color-med;
  opacity: 0.9;
  padding: 20px 20px -10px 20px;
  -webkit-transition: height 1s;
  transition: height 1s;
}
span.item-details:hover {
  span.slider {
    display: inline-block;
    height: 100%;
  }
}
#item-details {
  padding: 20px;
  img {
    height: 300px;
  }
  .details {
    display: flex;
  }
}